# Cold Temperature Data Cleaning and Attribute Addition

This notebook will take colder temperatures and fix null values and add a windchill attribute that will help with getting a better prediction of how wind affects the temperature.

The notebook will also become the data for a recommender system

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

halifax_weather_data = pd.read_csv('WeatherData/ColdnHumid/halifax/halifaxWeatherTotal.csv')

halifax_solar_data = pd.read_csv('WeatherData/ColdnHumid/halifax/halifaxSolar/halifaxSolarTotal.csv')

halifax_solar_data.count()

Unnamed: 0               1825
Unnamed: 0.1             1825
Year                     1825
Month                    1825
Day                      1825
DHI (w/m2)               1825
DNI (w/m2)               1825
Wind Speed (m/s)         1825
Relative Humidity (%)    1825
Pressure (mbar)          1825
dtype: int64

In [58]:
halifax_weather_data.tail()

      Unnamed: 0  Unnamed: 0.1  ...  Relative Humidity (%)  Pressure (mbar)
1820        1820           360  ...                  86.61             1007
1821        1821           361  ...                  94.52              996
1822        1822           362  ...                  78.97             1001
1823        1823           363  ...                  86.06             1006
1824        1824           364  ...                  93.34             1001

[5 rows x 10 columns]