# Weather Prediction Model
This notebook will contain a ML model that predicts comfortable temperatures based on historical data. For this model, I'll be using San Jose's weather data for 2019.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
weatherData = pd.read_csv('sanJoseWeather.csv')
weatherData.head()

,STATION,NAME,DATE,AWND,PGTM,TAVG,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5
0,USW00023293,"SAN JOSE, CA US",2019-01-01,5.82,NaN,NaN,55,36.0,50,60.0,17.0,23.0
1,USW00023293,"SAN JOSE, CA US",2019-01-02,4.03,NaN,NaN,57,33.0,330,330.0,8.9,10.1
2,USW00023293,"SAN JOSE, CA US",2019-01-03,2.68,NaN,NaN,58,34.0,320,340.0,8.9,11.0
3,USW00023293,"SAN JOSE, CA US",2019-01-04,3.36,NaN,NaN,62,35.0,200,200.0,14.1,19.0
4,USW00023293,"SAN JOSE, CA US",2019-01-05,13.20,NaN,NaN,56,46.0,130,150.0,30.0,40.0