In [189]:
import pandas as pd

halifax_weather = pd.read_csv('WeatherData/ColdnHumid/halifax_Weather_Solar.csv')
halifax_weather = halifax_weather.drop(columns=['DHI (w/m2)', 'DNI (w/m2)', 'Pressure (mbar)'])

halifax_weather.head()

   Year  Month  Day  ...  Min Temp (F)  Wind Speed (m/s)  Relative Humidity (%)
0  2015      1    1  ...          5.18               0.2                  75.54
1  2015      1    2  ...         13.64               0.4                  73.16
2  2015      1    3  ...          5.36               0.4                  54.87
3  2015      1    4  ...          7.88               0.4                  86.75
4  2015      1    5  ...          9.14               0.6                  81.97

[5 rows x 7 columns]

In [190]:
def ms_to_mph(wind_speed):
    return round(wind_speed * 2.23694, 1)

In [191]:
halifax_weather.insert(loc=5, column='Average Wind Speed (mph)', value=0, allow_duplicates=False)

In [192]:
halifax_weather['Average Wind Speed (mph)'] = halifax_weather.apply(lambda row: ms_to_mph(row['Wind Speed (m/s)']), axis=1)

In [193]:
halifax_weather = halifax_weather.drop(columns=['Wind Speed (m/s)'])
halifax_weather.head()

   Year  Month  ...  Average Wind Speed (mph)  Relative Humidity (%)
0  2015      1  ...                       0.4                  75.54
1  2015      1  ...                       0.9                  73.16
2  2015      1  ...                       0.9                  54.87
3  2015      1  ...                       0.9                  86.75
4  2015      1  ...                       1.3                  81.97

[5 rows x 7 columns]

In [194]:
halifax_weather['Max Temp (F)'] = halifax_weather.apply(lambda row: round(row['Max Temp (F)']), axis=1)
halifax_weather['Min Temp (F)'] = halifax_weather.apply(lambda row: round(row['Min Temp (F)']), axis=1)
halifax_weather['Relative Humidity (%)'] = halifax_weather.apply(lambda row: round(row['Relative Humidity (%)']), axis=1)

In [195]:
halifax_weather.head()

   Year  Month  ...  Average Wind Speed (mph)  Relative Humidity (%)
0  2015      1  ...                       0.4                     76
1  2015      1  ...                       0.9                     73
2  2015      1  ...                       0.9                     55
3  2015      1  ...                       0.9                     87
4  2015      1  ...                       1.3                     82

[5 rows x 7 columns]

In [196]:
from math import pow

def windchill_regression(temperature, wind_speed):
    T, V = temperature, wind_speed
    feels_like = 35.74 + (0.6215) * (T) - (35.75) * (pow(V, 0.16)) + (0.4275 * T) * (pow(V, 0.16))
    return round(feels_like)

In [197]:
def get_windchill(temperature, wind_speed):
    T, V = temperature, wind_speed
    if (T > 50):
        return temperature
    else:
        return windchill_regression(T, V)

In [198]:
halifax_weather.insert(loc=7, column='Windchill Effect (F)', value=0, allow_duplicates=False)

In [199]:
halifax_weather['Windchill Effect (F)'] = halifax_weather.apply(lambda row: get_windchill(row['Max Temp (F)'], row['Average Wind Speed (mph)']), axis=1)
halifax_weather['Windchill Effect (F)'] = halifax_weather.apply(lambda row: round(row['Windchill Effect (F)']), axis=1)

In [200]:
halifax_weather.head(20)

    Year  Month  ...  Relative Humidity (%)  Windchill Effect (F)
0   2015      1  ...                     76                    33
1   2015      1  ...                     73                    36
2   2015      1  ...                     55                    15
3   2015      1  ...                     87                    50
4   2015      1  ...                     82                    49
5   2015      1  ...                     64                     9
6   2015      1  ...                     66                    13
7   2015      1  ...                     72                     9
8   2015      1  ...                     85                    40
9   2015      1  ...                     72                    24
10  2015      1  ...                     73                    26
11  2015      1  ...                     95                    42
12  2015      1  ...                     77                    28
13  2015      1  ...                     75                    22
14  2015      1  ...                     89                    30
15  2015      1  ...                     93                    38
16  2015      1  ...                     71                    10
17  2015      1  ...                     85                    44
18  2015      1  ...                    100                    48
19  2015      1  ...                     81                    37

[20 rows x 8 columns]

In [201]:
halifax_weather.insert(loc=8, column='Users Thermostat (F)', value=0, allow_duplicates=False)

In [202]:
import random
from time import gmtime
from calendar import timegm

def user_heating(windchill_temperature):
    # Gets the systems milliseconds since the epoch
    mseconds = timegm(gmtime())
    # Sets the milliseconds as the random seed for generation
    rand_seed = random.seed(mseconds * random.random())

    min_heat = 60
    avg_heat = 66
    max_heat = 71
    if (windchill_temperature <= 45):
        return random.randrange(avg_heat, max_heat, 1)
    elif (windchill_temperature > 45):
        return random.randrange(min_heat, avg_heat, 1)

def user_cooling(feels_like_temperature):
    # Gets the systems milliseconds since the epoch
    mseconds = timegm(gmtime())
    # Sets the milliseconds as the random seed for generation
    rand_seed = random.seed(mseconds * random.random())

    min_cool = 74
    avg_cool = 79
    max_cool = 85
    if (feels_like_temperature >= 90):
        return random.randrange(min_cool, avg_cool, 1)
    elif (feels_like_temperature < 90):
        return random.randrange(avg_cool, max_cool, 1)

def user_normal(temperature):
    return floor(temperature)

def get_user_data(weighted_temperature):
    if (weighted_temperature <= 64):
        # The WHO recommends a minimum indoor temperature of 64 degrees Fahrenheit
        return user_heating(windchill_temperature=weighted_temperature) # Run the heat
    elif (weighted_temperature > 64 and weighted_temperature <= 80):
        return user_normal(weighted_temperature) # The house is at room temperature
    elif (weighted_temperature > 80):
        return user_cooling(feels_like_temperature=weighted_temperature) # Otherwise run the A/C

In [203]:
halifax_weather['Users Thermostat (F)'] = halifax_weather.apply(lambda row: get_user_data(row['Windchill Effect (F)']), axis=1)

In [204]:
halifax_weather.tail(30)

      Year  Month  ...  Windchill Effect (F)  Users Thermostat (F)
1795  2019     12  ...                    31                    70
1796  2019     12  ...                    43                    66
1797  2019     12  ...                    39                    69
1798  2019     12  ...                    38                    70
1799  2019     12  ...                    32                    68
1800  2019     12  ...                    26                    68
1801  2019     12  ...                    29                    68
1802  2019     12  ...                    51                    65
1803  2019     12  ...                    55                    65
1804  2019     12  ...                    51                    61
1805  2019     12  ...                    22                    67
1806  2019     12  ...                    36                    66
1807  2019     12  ...                    58                    60
1808  2019     12  ...                    57                    63
1809  2019     12  ...                    30                    66
1810  2019     12  ...                    29                    68
1811  2019     12  ...                    26                    67
1812  2019     12  ...                    19                    69
1813  2019     12  ...                    32                    69
1814  2019     12  ...                    30                    67
1815  2019     12  ...                    39                    67
1816  2019     12  ...                    37                    67
1817  2019     12  ...                    36                    70
1818  2019     12  ...                    26                    67
1819  2019     12  ...                    20                    68
1820  2019     12  ...                    39                    68
1821  2019     12  ...                    40                    66
1822  2019     12  ...                    33                    67
1823  2019     12  ...                    30                    70
1824  2019     12  ...                    39                    67

[30 rows x 9 columns]

In [206]:
halifax_weather.to_csv(path_or_buf='WeatherData/ColdnHumid/halifax/halifaxCompleteUser.csv')